<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 通过mapper文件实现相应的UserDao -->
<mapper namespace="demo.UserDao">
    <!-- 根据id查询一个用户信息 -->
    <select id="selectUserById" parameterType="Integer" resultType="demo.User">
        SELECT * FROM t_users WHERE id = #{id}
    </select>

    <!-- 查询所有用户信息 -->
    <select id="selectAllUser" resultType="user">
        SELECT * FROM t_users
    </select>

    <!-- 添加一个用户，#{name}为User的属性值 -->
    <insert id="addUser" parameterType="user">
        INSERT INTO t_users(name, password) VALUES(#{name}, #{password})
    </insert>

    <!--修改一个用户 -->
    <update id="updateUser" parameterType="demo.User">
        UPDATE t_users SET name = #{name}, password = #{password} WHERE id = #{id}
    </update>

    <!-- 删除一个用户 -->
    <delete id="deleteUser" parameterType="Integer">
        DELETE FROM t_users WHERE id = #{id}
    </delete>
</mapper>